node_modules/
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.venv/

.env
.env.local

/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions


# production
build/
dist/

.env*

npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*



.DS_Store
Thumbs.db
.vscode/
.idea/
/generated/prisma

/agents
/claude
/cache
/windsurf
skills-lock.json

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
/password